.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 90vh;
}

.camper {
  animation: float 1.2s ease-in-out infinite;
}

.image {
  width: 200px;
  height: 100px;

  user-select: none;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
