.catalogItem {
  width: 888px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px 97px 24px 24px;
  background: #f7f7f7;
  border-radius: 16px;
}
.catalogItemImage {
  border-radius: 16px;
  object-fit: cover;
  width: 219px;
  height: 240px;
}
.catalogItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}
.catalogItemTitle {
  font: inherit;
}
.catalogItemPrice {
  vertical-align: top;
}
.catalogItemInfo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}
.catalogItemRating,
.catalogItemLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.catalogItemDescription {
  max-width: 525px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalogItemListFeatures {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}
.catalogItemListFeature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: #f2f4f7;
  border-radius: 100px;
  padding: 12px 18px;
}
.catalogItemIcon {
  width: 20px;
  height: 20px;
}
.iconStar {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}

.locationIcon {
  width: 16px;
  height: 16px;
}
.buttonLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 200px;
  padding: 15px 43.5px;
  background: #829b91;
  outline: transparent;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;

  transition: background 0.3s ease;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background: #6d7b75;
    }
  }

  &:active,
  &:focus-visible {
    background: #6d7b75;
  }
}
