.form {
  position: sticky;
  top: 120px;
  width: 360px;
  background: #f7f7f7;
  padding: 24px;
  border-radius: 20px;
  font-family: inherit;
}

.location {
  font-family: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  gap: 10px;
  border-radius: 12px;
  padding: 16px 20px 16px 48px;
  width: 312px;
  height: 56px;
  outline: transparent;
  border: 1px solid transparent;

  background: #fff;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  transition:
    0.3s border-color ease,
    background 0.3s ease;

  &:focus-visible,
  &:active {
    background: #fff;
    border-color: #829b91;
  }
}

.labelLocation {
  position: relative;
}
.locationIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}
.fieldsReset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 8px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.firstField {
  margin-bottom: 40px;
}
.lastField {
  margin-bottom: 48px;
}

.legend {
  color: #6c717b;
  margin-bottom: 8px;
}
.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio__custom {
  width: 24px;
  height: 24px;
  border: 1px solid #475467;
  border-radius: 50%;
  background: #fff;
  position: relative;
  flex-shrink: 0;
  transition: border-color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      border-color: #829b91;
    }
  }
}

.radio__custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #829b91;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.radio:checked + .radio__custom::after {
  transform: translate(-50%, -50%) scale(1);
}
.searchBtn {
  width: 100%;
  border-radius: 200px;
  margin-bottom: 16px;
}
.clearBtn {
  gap: 4px;
  width: 100%;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background: #fff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  transition:
    0.3s border-color ease,
    background 0.3s ease;
  outline: transparent;

  @media (hover: hover) {
    &:hover {
      background: #fff;
      border-color: #6d7b75;
    }
  }

  &:active,
  &:focus-visible {
    background: #fff;
    border-color: #6d7b75;
  }
}
.clearIcon {
  width: 24px;
  height: 24px;
}
